.idea/
target/
*.iml
*.txt
*.jar
*.class
*.lock
*.DS_Store
*.swp
*.out
*-dev.yml
build/
*.ipr
*.iws
.gradle/
.settings/
.classpath
.project
.metadata/
.mvn/
logs/
dev.properties
dependency-reduced-pom.xml
*.rdb
log/
application.yml
bootstrap.yml
mybatis-config.xml
application-dev.yml
!application-*.yml
application.properties
application-*.properties
!*/src/test/resources/application.yml
!*/src/test/resources/application-*.yml
!*/src/test/resources/application.properties
!*/src/test/resources/application-*.properties
*.perm
*.bak
*.log
*.log.*
/null
